@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Press+Start+2P&display=swap');

* {

    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    text-align: center;


}

body {
    background-image: url(/img/back2.jpg);
    background-size: cover;    
}



header {
    font-size: 40px;
    padding: 40px;
    color: aqua;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    font-size: 40px;
    color: rgb(0, 255, 255);
}

.menu {
    margin: auto;
    color: aqua;
}



.btn {
    background-color: rgb(0, 229, 255);
    color: rgb(0, 0, 0);
    margin: 40px auto;
    padding: 5px;
    width: 312px;
    border-radius: 5px;
    cursor:pointer;
    transition: 0.2;
}

.btn:hover {
scale: 1.2;
transition: 1.2;
}


.btnReturn {
    padding:17px;
}

.game-header {
    display: flex;
    align-items:  center;
}

.reset{
    width: 150px;
}


.lvl{
    flex-grow: 1;
    text-align: left;
}

.null{
    padding-top: 0 ;
}


.game-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

}

.card{
    width: 350px;
    height: 350px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}



.rotate{
    transform: perspective(350px) rotateY(180deg);
    transition: 0.5s;
}

